/*Estilo para tablets*/
@media only screen and (min-width: 788px) and (max-width: 979px) {

/*Footer*/

.footer_redes ul li a {
	border: 3px solid #C5BB86;
	display: block;
	padding: 6px;

}

.footer_redes ul li a img{
	width: 26px;
	height: 26px;
}

} /* Final do estilo para tablets */

/*Estilo para smartphone*/
@media only screen and (max-width: 787px) {
	
/*Header*/
.header {
	position: relative;
	padding-bottom: 0px;
}

.header img {
	margin: 0 auto 10px auto;
}

.header_menu {
	text-align: center;
}

.header_menu ul li {
	margin: 5px;
}

.header_menu ul li a {
	border: 4px solid #000;
	width: 136px;
	display: block;
	float: left;
}

.header_menu ul li a:hover {
	border-color: #C5BB86;
}

.header_menu ul li a.menu_ativo {
	border-color: #C5BB86;
}
/*Introducao*/

.introducao h1 {
	font-size: 36px;
}

.introducao {
	height: 300px;
	margin-top: 0px;
	padding-top: 70px;
	background: url("../img/bg.jpg") no-repeat center;
	background-size: cover;
}

/*Introdução Interna*/

.introducao-interna {
	margin-top: 0px;
}

/*Call*/
.call{
	padding-top: 30px;
}
.btn{
	font-size: 14px;
}

/*Qualidade Home*/
.qualidade:after {
	display: none;
}

/*Sobre*/

.interna_sobre{
	margin-top: 0px;
}

.missao_sobre p {
	font-size: 14px;
	line-height: 20px;
	padding-right: 0px;
	margin-bottom: 50px
}

.missao_sobre ul li {
	font-size: 14px;
	line-height: 25px;
}
/*portfolio*/
.interna_portfolio{
	margin-top: 0px;
}

/*Copy*/
.copy {
height: 50px;
}
.copy p{
	font-size: 14px;
}
} /* Final do estilo para smartphone */